Import Dataset

In [2]:
import pandas as pd
dataset = "/content/DataSetPraktikum.csv"

df = pd.read_csv(dataset)

df.head(10)

,Nama,Sekolah,Umur,Jenis Kelamin,Merek Ponsel,Versi Android,Tingkat Baterai,Lokasi Saat Ini
0,Rudi,SMP Negri 1,23,Laki-laki,Xiaomi Mi 9T,Android 11,80%,Jakarta
1,Siti,SMP Negri 2,21,Perempuan,Samsung Galaxy A51,Android 10,65%,Bandung
2,Budi,SMP Negri 3,25,Laki-laki,Oppo Reno 4,Android 11,70%,Surabaya
3,Lina,SMP Negri 2,20,Perempuan,Asus Zenfone 6,Android 12,NaN,Yogyakarta
4,Adi,SMP Negri 1,22,99,Xiaomi Redmi Note 9,Android 10,60%,Medan
5,Maya,SMP Negri 3,24,Perempuan,Infinix Note 8,Android 10,NaN,Surabaya
6,Andre,SMP Negri 1,19,Laki-laki,Samsung Galaxy S20 FE,Android 11,90%,Jakarta
7,Rina,SMP Negri 2,26,Perempuan,Vivo V21,Android 12,NaN,Bandung
8,Dian,SMP Negri 3,27,99,Xiaomi Redmi 10,Android 11,70%,Surabaya
9,Rizki,SMP Negri 1,22,Laki-laki,Realme 8,Android 11,80%,Yogyakarta

In [3]:
print(df['Tingkat Baterai'].isna().sum())

df['Tingkat Baterai'].fillna('N', inplace=True)

print(df['Tingkat Baterai'].isna().sum())

3
0

In [6]:
df['Jenis Kelamin'].replace(['99'], ['Laki-laki'], inplace=True)

print(df['Jenis Kelamin'].value_counts())

Laki-laki    6
Perempuan    4
Name: Jenis Kelamin, dtype: int64